
        @import url('https: //fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    body
    
    {
        background: #000;
        min-height: 200vh;
    }
    
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        padding: 40px 100px;
        z-index: 100000;
    }
    
    header .logobhai
    {
        position: relative;
        width: 6;
        height: 6vh;
    
    }
    
    header.sticky
    {
        padding: 5px 100px;
        background: #fff;
    }
    header .vaim
    {
        position: relative;
        font-weight: 700;
        color:  #fff;
        text-decoration: none;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.6s;
    
    }
    
    header ul
    {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    
    
    header ul li
    {
        position: relative;
        list-style: none;
    
    }
    
    header ul li a
    {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 500px;
        transition: 0.6s;
    }
    
    .ritik
    {
        position: relative;
        width: 100%;
        height: 49vh;
        /*background: url('https://source.unsplash.com/720x600/?tool');*/
        background: url('check.jpg');
        background-size: cover;
    
    }
    
    header.sticky .vaim, 
    
    header.sticky ul li a
    {
        color: #000;
    }
    #test-box p{
        font-size: large;
        font-style: oblique;

    }
    #introduction{}
    #test-box{margin: 15px;
    padding: 10px;
    /* background: scroll; */
    background:linear-gradient(#2193b0 , #6dd5ed); border-radius: 2px;}
    #test-box h2{
        font-style:oblique; 
        color: #fff;}
    
    .container{
        max-width: 1170px;
        margin:auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    .footer{
        background-color: #24262b;
        padding: 70px 0;
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #ffffff;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: #24262b;
        background-color: #ffffff;
    }
    
    /*responsive*/
    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }
    
    .vaimpier
    {
    
        position: relative;
        width: 100%;
        height: 49vh;
        background: url('app.jpg');
        background-size: cover;
        padding: 15px;
    
    }
    
    .vaim{
    font-family: 'Poppins', sans-serif;
    }
